@media screen and (max-width: 1086px){
	.box-wrapper{
		width: 92%;
		margin: 0 auto;
	}
	.slist{
		width: 100%;
	}
	.serial-box img{
		width: 30%;
	}
	.serial-box .year{
		position: absolute;
		right: 0;
		top: 0;
	}
	.serial-box h1, .serial-box p, .serial-box h2{
		width: 60%;
	}
	.no-poster{
		width: 30%;
		height: 180px;
		padding-top: 40px;
		font-size: 25px;
	}
}
@media screen and (min-width: 1087px){
	.serial-box{
		width: 500px;
		height: 270px;
	}
	.serial-box img{
		width: 180px;
	}
}