@media screen and (max-width: 1086px){
	.logo{
		width: 100%;
		height: 20%;
	}
	.menu{
		width: 100%;
		height: auto;
	}
	.menu ul{
		width: 309px;
		margin: 0 auto;
		float: none;
	}
	.menu .search_box{
		margin: 0 auto;
		float: none;
		padding: 5px 0 15px 0;
	}
	.menu .search_box .search_field{
		margin-left: 0;
	}
	.menu .search_box .search-response{
		left: 5px;
		top: 35px;
	}
	footer{
		height: 50px;
	}
	.foot-wrapper *{
		display: inline-block;
		margin: 0 auto;
	}
	.add-wrap{
		max-width: 720px;
		width: 90%;
		overflow: hidden;
	}
	.feedback-btn{
		opacity: .1;
	}
	.feedback-btn:hover{
		opacity: 1;
	}
}
@media screen and (min-width: 1087px){
	.logo{
		width: 20%;
		height: 10%;
	}
	.menu{
		width: 80%;
	}
	footer{
		height: 25px;
	}
	.add-wrap{
		width: 720px;
		margin: 0 auto
	}
}