.wrapper{
	margin: 0 auto;
}

.box{
	background: linear-gradient(-45deg, rgb(40, 40, 40), rgba(0, 0, 0, 0.8));
	box-shadow: 0 0 10px 4px rgb(0, 0, 0);
	float: left;
	margin: 33px 0 0 33px;
}
.box-title{
	background: repeating-linear-gradient(135deg, #111, #111 5px,black 5px,black 10px);
	text-align: center;
	box-shadow: 0 0 5px 2px rgb(0, 0, 0);
	color: white;
	font-size: 1.5em;
	padding: 5px 0;
	font-family: 'Lobster';/*?*/
}
.news{
	height: 400px;
}
.last-news{
	color: white;
	width: 96%;
	padding: 7px 10px 30px;
	margin: 2%;
	position: relative;
	border-bottom: 1px dotted #222;
}
.last-news p{
	font-size: 16px;
}
.last-news a{
	position: absolute;
	left: 0;
	bottom: -1px;
	background: #282828;
	color: black;
	padding: 3px;
	border: 1px solid black;
	transition: .5s;
	font-size: 14px;
}
.last-news a:hover{
	background: black;
	border: 1px solid #333;
	color: white;
}
.last-news span{
	position: absolute;
	right: 0;
	bottom:  -1px;
	font-size: 11px;
	background: #222;
	padding: 3px 5px;
}

.today-nothing{
	color: white;
	font-family: 'Lobster';
	width: 100%;
	text-align: center;
	padding-top: 100px;
	font-size: 20px;
}
.today{
	width: 480px;
	overflow-y: scroll;
}
.today-comes{
	width: 130px;
	margin: 13.5px;
	display: inline-block;
	vertical-align: top;
}
.today-comes img{
	width: 100%;
	box-shadow:  0 0 5px 2px rgb(0, 0, 0);
}
.todays-episode{
	background: #999;
	color: black;
	padding: 8px;
	margin: 5px 0;
	font-size: 14px;
	text-align: center;
	box-shadow:   0 0 5px 2px rgb(0, 0, 0);
}

.last-trailer{
	width: 1053px;
	margin-bottom: 70px ;
}
.last-video{
	width: 150px;
	display: inline-block;
	margin: 20px;
	margin-left: 30px;
	height: 300px;
	vertical-align: top;
	position: relative;
	box-shadow: 0 0 10px 4px black;
	height: 250px;
}
.video-icon img{
	width: 100%;
	height: 220px;
	transition: .5s;
}
.video-icon:hover img{
	opacity: .1;
}
.video-icon{
	cursor: pointer;
	background: rgb(0,0,50);
}
.video-icon .video-link{
	display: none
}
.video-icon .icon{
	position: absolute;
	width: 85px;
	height: 85px;
	background: url('/img/play_icon.png') no-repeat center;
	margin: 70px 30px;
}
.last-video .link{
	height: 30px;
	background: black;
	text-align: center;
	width: 100%;
	display: block;
	line-height: 30px;
}

.video-window-wrap{
	width: 100%;
	height: 100%;
	background: black;
	position: fixed;
	left: 0;
	top: 0;
	display: none;
}
.video-window{
	width: 60%;
	position: fixed;
	left: 0;
	top: 0;
	margin: 40px 20%;
}
.video-window .close{
	z-index: 3;
}
.video-window .frame-box{
	position: relative;
	height: 100%;
	width: 100%;
}
.video-window iframe{
	border: none;
	width: 100%;
	height: 450px;
	position: absolute;
	bottom: 0;
}

.no-poster{
	width: 100%;
	height: 220px;
}