@import url(http://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic);
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Helvetica', sans-serif;
	color: white;
}
html{
	background: rgb(40, 40, 40);
	min-height: 100%;
}
body{
	min-height: 100%;
}
a{
	color: #fff;
	text-decoration: none;
}

.logo{
	background: linear-gradient(-45deg, rgb(40, 40, 40), rgba(0, 0, 0, 0.8));
	padding: 2% 0;
	box-shadow: 0 0 10px 4px rgb(0, 0, 0);
	float: left;
	position: relative;
}
.logo h1{
	text-align: center;
	font-size: 1.7em;
	padding: 0 7px;
	line-height: 100%;
	font-family: "Lobster";
	color: white;
}
.menu{
	float: left;
	height: 60px;
	background: #111;
	box-shadow: 0 0 10px 4px rgb(0, 0, 0);
	padding-left: 5%;
	margin-bottom: 2%;
}
.menu ul{
	list-style: none;
	float: left;
}
.menu ul li{
	color: white;
	display: inline-block;
	height: 100%;
	line-height: 60px;
	width: 100px;
	text-align: center;
	cursor: pointer;
	transition: .5s;
}
.menu ul li a{
	width: 100%;
	height: 100%;
	display: block;
}
.menu ul li:hover{
	box-shadow: 0 0 10px 4px rgb(0, 0, 0);
}
.search_box{
	position: relative;
	float: left;
	width: 300px;
	padding-top: 16px;
}
.search-response{
	position: absolute;
	z-index: 2;
	width: 290px;
	min-height: 40px;
	top: 46px;
	left: 20px;
	background: #111;
	box-shadow: 0 0 5px 2px black;
	padding: 10px 5px;
	display: none;
}
.search-response .empty{
	color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 40px;
}
.search-response .result{
	border-bottom: 1px dotted #444;
	height: 85px;
	padding-bottom: 5px;
	padding: 5px;
	transition: .5s;
}
.search-response .result:hover{
	background: #222;
}
.search-response .result img,.search-response .result .no-poster{
	width: 50px;
	height: 74px;
	float: left;
	box-shadow: 0 0 3px 1px black;
	font-size: 12px;
}
.search-response .result .no-poster{
	padding-top: 10px;
}
.search-response .result h1{
	font-size: 16px;
	width: 220px;
	float: right;
	height: 100%;
	line-height: 25px;
	padding-top: 10px;
	text-align: center;
}
.search_field{
	width: 300px;
	height: 30px;
	background: black;
	border: none;
	padding: 0 15px;
	border-radius: 6px;
	transition: .5s;
	color: #ccc;
	margin-left: 5%;
	border: 1px solid #333;

}
.search_field:focus{
	outline: none;
	width: 300px;
}


.box{
	background-color: black;
	background: linear-gradient(-45deg, rgb(40, 40, 40), rgba(0, 0, 0, 0.8));
	box-shadow: 0 0 10px 4px black;
	float: left;
	margin: 3% 0 0 3%;
}

.log-box{
	position: fixed;
	left: 0;
	top: 0;
	background: linear-gradient(-45deg, rgb(40, 40, 40), rgb(0, 0, 0));
	box-shadow: 0 0 10px 4px rgb(0, 0, 0);
	height: 100%;
	width: 400px;
	z-index: 3;
	padding-top: 20px;
	left: -150%;
}
.log-ctrl-box{
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
	padding-left: 60px;
}
.log-ctrl-btn{
	color: white;
	width: 120px;
	display: inline-block;
	text-align: center;
	border: 1px solid #888;
	height: 32px;
	line-height: 30px;
	font-size: 15px;
	margin-left: 10px;
	cursor: pointer;
	transition: .5s;
}
.log-ctrl-btn:hover{
	background: black;
}

.close{
	color: white;
	position: absolute;
	right: 10px;
	top: 10px;
	padding: 0 5px;
	background: #282828;
	box-shadow: 0 0 3px 1px black;
	cursor: pointer;
}
.log-box form{
	height: 270px;
	position: absolute;
}
.log-box form.reg{
	display: none;
}
.log-box h3{
	color: #ccc;
	width: 100%;
	text-align: ;
	display: block;
	/*border-bottom: 1px dotted rgb(0,70,0);*/
	background: linear-gradient(90deg, #282828, black);
	box-shadow: 0 0 3px 1px black;
	margin-bottom: 20px;
	padding: 4px 20px;
}
.input{
	border: none;
	height: 32px;
	width: 65%;
	float: right;
	margin: 10px 5%;
	box-shadow: 0 0 4px 2px black;
	background: #282828;
	border: 1px solid #555;
	text-align: center;
	color: white;
	outline: none;
}
.log-box label{
	color: white;
	width: 15%;
	float: left;
	height: 32px;
	margin: 10px 5%;
	font-size: 15px;
	line-height: 32px;
}
.log-box .btn{
	height: 30px;
	border: none;
	background: rgb(0,0,30);
	color: white;
	float: right;
	padding: 0 10px;
	box-shadow: 0 0 5px 2px black;
	margin-right: 5%;
	margin-top: 10px;
	display: block;
	cursor: pointer;
	transition: .5s;
}

.vk-log-btn{
	position: relative;
	right: 0;
	top: 300px;
	background: red;
	width: 200px;
	margin: 0 auto;
	background: rgb(77, 117, 163);
	text-align: center;
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	box-shadow: 0 0 5px 2px black;
}
.vk-log-btn a{
	width: 100%;
	height: 100%;
	display: block;
	font-size: 15px;
}

.user_cab a{
	background: repeating-linear-gradient(135deg, rgb(0, 58, 10), rgb(0, 58, 10) 5px,black 5px,black 10px);
}

.response{
	width: 250px;
	/*min-height: 80px;*/
	background: #111;
	position: fixed;
	right: 3%;
	top: 3%;
	box-shadow: 0 0 10px 4px black;
	z-index: 4;
	font-size: 15px;
	display: none;
	text-align: center;
	padding: 30px 10px;
	color: white;
}

footer{
	min-width: 100%;
	float: left;
	margin-top: 50px;
	box-shadow: 0 0 10px 4px black;
	background: linear-gradient(90deg, #111, #282828);
	position: fixed;
	bottom: 0;
	transition: .5s;
}
footer:hover{
	height: 50px;
}
.foot-wrapper{
	width: 410px;
	height: 100%;
	margin: 0 auto;
}
.foot-wrapper *{
	display: inline-block;
}
.vk-msg{
	width: 135px;
}
.vk-msg script, .livecounter script, .livecounter a{
	display: none;
}
.vk-msg table tbody tr td a{
	height: 25px ! important;
	padding: 5px !important;
}
footer .copy{
	color: white;
	font-size: 12px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	
}
footer .soc{
	width: 30px;
	height: 30px;
	color: white;
	font-size: 10px;
	border-radius: 25px;
	border: 2px solid white;
	line-height: 27px;
	text-align: center;
	margin: 10px 40px;
	transition: .5s;
	box-shadow: 0 0 5px 3px black;
}
footer .soc:hover{
	border: 2px solid rgb(150,0,0);
	background: black;

}

.no-poster{
	box-shadow: 0 0 10px 4px rgb(0, 0, 0);
	padding-top: 20%;
	font-family: 'Lobster';
	font-size: 30px;
	font-weight: bold;
	color: black;
	text-shadow: 2px 2px 5px #555;
	background: #111;
	text-align: center;
}

.add-wrap{
	height: 90px;
	margin: 10px auto;
}
.top-ad{
	height: 90px;
	margin: 0;
}

.feedback-btn{
	width: 35px;
	height: 200px;
	background: repeating-linear-gradient(135deg, rgba(255, 255, 255,.2), rgb(10, 10, 10) 5px,black 5px,black 10px);	
	position: fixed;
	right: 0;
	bottom: 15%;
	box-shadow: 0 0 10px 4px black;
	cursor: pointer;
	transition: .5s;
	border-radius: 5px 0 0 5px;
	z-index: 1;
}
.feedback-btn .txt{
	width: 100%;
	height: 100%;
	background: url('../img/feedback_btn.png') no-repeat;
}
.feedback-btn:hover{
	width: 40px;
}
.feedback-window{
	position: fixed;
	right: -510px;
	bottom: 15%;
	height: 305px;
	width: 500px;
	z-index: 2;
	padding: 10px;
	overflow: hidden;
}
.feedback-window label{
	width: 100%;
	display: block;
	text-align: center;
}
.feedback-window .input{
	width: 90%;
}
.feedback-window textarea{
	height: 170px;
	text-align: left;
	padding: 5px;
}
.feedback-window .btn{
	background: red;
	border: none;
	color: white;
	padding: 5px;
	float: right;
	margin-right: 23px;
	box-shadow: 0 0 3px 1px black;
	cursor: pointer;
}