.box-wrapper{
	width: 100%;
	padding-top: 9.2%;
}
.slist{
	margin: 0 auto;
	width: 1080px;
	float: none;
}
.serial-box{
	margin: 18px;
	display: inline-block;
	position: relative;
}
.serial-box img{
	max-height: 100%;
	float: left;
	box-shadow:  0 0 10px 4px rgb(0, 0, 0);
}
.serial-box h1, .serial-box p, .serial-box h2{
	width: 320px;
}
.serial-box h1{
	color: white;
	font-size: 18px;
	text-align: center;
	display: block;
	float: right;
	padding: 5px 0;
}
.serial-box h2{
	font-size: 16px;
	text-align: center;
	color: #bbb;
	float: right;
}
.serial-box .year{
	color: white;
	font-size: 14px;
	float: right;
	background: #111;
	padding: 1px 5px;
	box-shadow: 0 0 3px 1px rgb(0, 0, 0);
}
.serial-box p{
	color: white;
	width: 300px;
	font-size: 14px;
	float: right;
	margin-top: 50px;
	/*position: absolute;
	bottom: 0;
	right: 0;*/
}
.nav-pages{
	margin: 0 auto;
}
.short{	width: 180px; }
.long{ width: 270px; }
.nav-link{
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 20px;
	line-height: 50px;
	text-align: center;
	font-family: 'Lobster';
	font-size: 22px;
	margin-bottom: 70px;
}
.current{
	color: #555;
}
.no-poster{
	float: left;
	width: 180px;
	height: 100%;
	box-shadow: 0 0 10px 4px rgb(0, 0, 0);
	padding-top: 85px;
	font-family: 'Lobster';
	font-size: 30px;
	font-weight: bold;
	color: black;
	text-shadow: 2px 2px 5px #555;
	background: #111;
	text-align: center;
}

.v_icon{
	background: url('../img/play_min.png') no-repeat center;
	background-size: 100% 100%;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 0;
	right: 50px;
}