.stop-wrapper{
	height: 100%;
	margin: 0 auto;
	background: white;
}
.box-title{
	background: repeating-linear-gradient(135deg, #111, #111 5px,black 5px,black 10px);
	text-align: center;
	box-shadow: 0 0 5px 2px rgb(0, 0, 0);
	color: white;
	font-size: 30px;
	padding: 5px 0;
	font-family: 'Lobster';/*?*/
	letter-spacing: 2px;
}
.stop{
	width: 100%;
	color: white;
	margin-bottom: 100px;
	margin-left: 0;
}
.list-box{
	min-height: 50px;
	overflow: hidden;
	border-bottom: 1px solid #222;
}
.list-box *{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	vertical-align: top;
	color: #ccc;
}
.list-box a{
	width: 100%;
	height: 100%;
	display: block;
}
.list-box .number{
	width: 50px;
	min-height: 50px;
	height: 100%;
	text-align: center;
	line-height: 50px;
	border-right: 1px dotted #222;
}
.list-box h1{
	font-size: 1em;
	width: 350px;
	padding-left: 10px;
}
.list-box p{
	font-size: 14px;
}
.list-box .spent-time{
	float: right;
}
.spent-time .mark{
	margin: 10px 30px;
	padding: 3px 10px;
	height: 25px;
	text-align: center;
	line-height: 17px;
	border-radius: 20px;
	color: #ccc;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0 0 5px 2px black;
	font-family: 'Lobster';
	background: rgb(0,0,20);
}
.spent-time .yes{	
	border: 1px solid rgb(0,150,0);
}
.spent-time .no{
	border: 1px solid rgb(150,0,0);
}