.serials-wrapper{
	width: 1080px;
	margin: 0 auto;
}
.box-title{
	background: repeating-linear-gradient(135deg, #111, #111 5px,black 5px,black 10px);
	text-align: center;
	box-shadow: 0 0 5px 2px rgb(0, 0, 0);
	color: white;
	font-size: 1.3em;
	padding: 5px 0;
	font-family: 'Lobster';/*?*/
	letter-spacing: 2px;
}
.info{
	width: 710px;
	padding: 15px;
	position: relative;
	margin-top: 20px;
}
.info img{
	width: 250px;
	float: left;
	box-shadow: 0 0 5px 2px rgb(0, 0, 0);
}
.info h1{
	float: right;
	color: white;
	text-align: left;
	width: 400px;
	margin-top: 10px;
	font-size: 24px;	
}
.info h2{
	color: white;
	width: 400px;
	float: right;
	margin-bottom: 30px;
	font-size: 16px;
	margin-top: 10px;
	color: #aaa;
}
.info a{
	color: rgb(200,200,255);
}
.info .year{
	color: white;
	font-size: 14px;
	position: absolute;
	right: 0;
	background: #111;
	padding: 1px 5px;
	box-shadow: 0 0 3px 1px rgb(0, 0, 0);
}
.info-row{
	width: 400px;
	float: right;
	color: white;
	height: 30px;
	overflow: hidden;
	border-bottom: 1px dotted #333;
	vertical-align: top;
}
.info-row .info-title, .info-row .info-data{
	display: inline-block;
	line-height: 30px;
}
.info-title{
	font-size: 14px;
	width: 150px;
}
.info-data{
	font-size: 13px;
}
.story-box{
	color: white;
	float: left;
	margin-top: 20px;
	font-size: 15px;
}

.time-box{
	width: 400px;
	height: 50px;
	float: right;
	margin-top: 40px;
}
.time-box h4{
	color: white;
	text-align: center;
}
.counter, .button{
	float: right;
	width: 100px;
	height: 30px;
	padding-top: 10px;
	color: white;
}
.counter{
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
}
.button button{
	border: none;
	background: #282828;
	color: white;
	width: 40px;
	height: 20px;
	box-shadow: 0 0 5px 2px rgb(0, 0, 0);
	display: block;
	margin: 0 auto;
	cursor: pointer;
	transition: .5s;
}
.button button:hover{
	background: white;
	color: black;
}



.videos{
	width: 710px;
	min-height: 0;
	padding-bottom: 10px;
}
.videos iframe{
	width: 670px;
	height: 380px;
	margin: 20px 20px 10px 20px;
	box-shadow: 0 0 3px 1px rgb(0, 0, 0);
}
.videos h3{
	color: white;
	width: 670px;
	margin: 0 auto;
	padding: 5px 20px;
	border-bottom: 1px dotted #333;
}
.videos p{
	color: white;
	width: 100%;
	text-align: center;
	font-size: 14px;
	margin: 5% 0;
}

.serials-ad{
	height: 250px;
	width: 300px;
	overflow: hidden;
	margin: 30px 10px 0 0;
}
.right{
	float: right;
	width: 300px;
	padding-top: 22px;
	margin-top: -10px;
}

.series{
	width: 300px;
	color: white;
	float: right;
	padding-bottom: 20px;
	overflow: hidden;
	position: relative;
}
.series h4{
	width: 100%;
	text-align: center;
	margin-top: 20px;

}
.series-box{
	width: 90%;
	height: 30px;
	margin: 10px 5% 0 5%;
	border-bottom: 1px dashed #555;
}
.series-number, .series-date{
	display: inline-block;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
}
.series-number{
	width: 30%;
}
.series-date{
	width: 68%;
}
.current-season{
	background: white;
	color: black;
	margin: 0 auto;
	display: block;
	width: 90px;
	text-align: center;
	margin-top: 20px;
	box-shadow: 0 0 10px 4px rgb(0, 0, 0);
	font-size: 14px;
	padding: 2px
}

.no-poster{
	float: left;
	width: 250px;
	height: 370px;
}


.reviews{
	width: 710px;
	min-height: 200px;
	padding-bottom: 10px;
	margin-bottom: 70px;
}
.reviews form{
	display: block;
	height: 190px;
}
.reviews form label{
	color: white;
	display: block;
	margin-top: 10px;
	padding-left: 35px;
}
.reviews form textarea{
	width: 90%;
	height: 100px;
	text-align: left;
	padding: 5px;
	resize: none;
}
.reviews input[type="submit"]{
	border: none;
	float: right;
	margin: 0 35px;
	padding: 4px;
	box-shadow: 0 0 3px 1px black;
	cursor: pointer;
	color: black;
}

.review-box{
	width: 90%;
	margin: 0 auto;
	background: radial-gradient(rgb(0,0,35), rgb(0,35,35));
	color: #ccc;
	border-radius: 10px;
	padding: 10px;
	font-size: 15px;
	position: relative;
	margin-bottom: 25px;
	box-shadow: 0 0 3px 1px black;
	padding-top: 30px;
}
.review-box .review-info{
	position: absolute;
	left: 0;
	top: 0;
	/*box-shadow: 0 0 3px 1px black;*/
	text-align: right;
	line-height: 20px;
	padding: 1px 5px;
	font-size: 13px;
	border-radius: 5px;
}
.review-info div{
	display: inline-block;
	margin: 2px 5px;
}

