@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,400italic&subset=latin,cyrillic-ext);

@import "compass/reset";
@import "compass/css3";
@import "compass/layout";
@import "compass/typography";
@import "compass/utilities";

$fontFamily: 'Roboto Condensed';

a,p,h1,h2,h3,h4,h5,h6{
	font-family: $fontFamily, sans-serif;
}

body {
	background: #f3efe4;
}

.container, .navbar {
	background: white;
}

.navbar{
	border-bottom: 1px solid #e4ded1;
}

.navbar .container{
	padding: 0;
}

.brand{
	width: 126px;
	height: 85px;
}

.head-row-1{
	height: 37px;
	padding-top: 15px;
}

.shipping {
	color: #c4b07a;
	text-decoration: uppercase;
	font-size: 13px;
}

.shipping{ 
	img {
		margin-right: 10px;
	}
}

.head-row-2{
	height: 53px;
}

.user-menu{
	font-size: 12px;
	height: 14px;
}


.spliter { 
	li{
		border-right: 1px solid #3b401e;
	}
}

.spliter {
	li:last-child{
		border-right: none;
	padding-right: 0;
	}	
}

.spliter{
	li{
		a{
			color: #3b401e;
			font-weight: bold;
		}
	}
}

.site-menu{
	margin-top: 10px;
}

.site-menu{
	li:first-child{
		padding-left: 4px;	
	}
}

.site-menu{
	li{
		font-size: 16px;
		padding: 0 20px;
	}
}

.cart-indicator{
	color: #e8930c;
	font-size: 13px;
	margin-left: 3px;
}

.input-form {
	position: relative;
}

.input-form{
	button{
		border:none;
		background: none;
	}
}

.input-form {
	.form-control{
		background: #f3efe4;
	}
}

.input-form .form-control:-moz-placeholder {
	color: #757f3c;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-style: italic;
}

.input-form .form-control::-moz-placeholder {
	color: #757f3c;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-style: italic;
}
.input-form .form-control:-ms-input-placeholder {
	color: #757f3c;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-style: italic;
}
.input-form .form-control::-webkit-input-placeholder {
	color: #757f3c;
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-style: italic;
}

.main-part{
	padding: 35px;
	border: 1px solid #e4ded1;
}

.last-post{
	position: relative;
}

.last-post{
	margin-bottom: 35px;
	img{
		width: 100%;
	}
}

.last-post-caption{
	position: absolute;
	bottom: 8%;
	left: 6%;
	width: 60%;
	h1{
		color: white;
		font-size: 3em;
		font-weight: bold;
		margin-bottom: 0.5em;
	}
	p{
		color: white;
		font-size: 16px;
		line-height: 1.7em;
	}
	a{
		margin-top: 20px;
		width: 10em;
		background: #e8930c;
		border-bottom: 3px solid #d08000;
	}
}

.sidebar-part-title{
	font-size: 1em;
	font-weight: bold;
	color: #a3a78b;
	margin-bottom: 30px;
}

.sidebar-list{
	margin-bottom: 35px;
	li{
		height: 24px;
		line-height: 24px;
		a{
			color: #4a4f2a;
			font-weight: bold;
			font-size: 15px;
			i{
				width: 25px;
			}
			i.fa-rss{
				color: #d98d1b; 
			}
		}
		a:hover{
			color: #94a14c;
		}
	}
}

.input-form i{
	color: #757f3c;
	font-size: 120%;
	position: absolute;
	right: 10px;
	top: 7px;
}

.latest-post-list{
	padding-left: 5em;

}

.post{
	border-bottom: 1px solid #dadada;
	padding-bottom: 40px;
	margin-top: 40px;
	img{
		width: 100%; 
		padding-right: 15px;
	}
	.details{
		position: relative;
		h1{
			color: #f29c1c;
			font-size: 2em;
		}
		span{
			display: inline-block;
			width: 110px;
			font-style: italic;
			color: #828282;
			font-size: 14px;
			margin: 12px 0;
			i{
				margin-right: 8px; 
			}
		}
		p{
			color: #5b5b5b;
			line-height: 30px;
			a{
				color: #f29c1c;
				font-weight: bold;
			}
		}
		.comments-count-wrap{
			position: absolute;
			width: 30px;
			height: 20px;
			right: 10px; 
			top: 0;
		}
		.comments-count-content{
			position: relative;
			z-index: 1;
			i{
				position: absolute;
				left: 0;
				top: 0;
				font-size: 150%;
				color: #f29c1c;
			}
			span{
				font-family: $fontFamily;
				width: 10px;
				color: white;
				position: absolute;
				font-size: 12px;
				font-weight: bold;
				font-style: normal;
				top: -7px;
				left: 9px;
				z-index: 2;
			}
			
		}
	}
}

.post:first-child{
	margin-top: 0;
}
.post:last-child{
	border-bottom: none;
}

footer.container-fluid{
	background: #757f3c;
	margin-top: 30px;
	padding-bottom: 50px;
	.container{
		background: inherit;
		padding: 0;
	}
}
.footer-nav-title{
	padding-top: 35px;
	font-weight: bold;
	padding-bottom: 12px;
	border-bottom: 1px solid black;
	margin-bottom: 20px;
}

.foot-list{
	display: inline-block;
	li{
		line-height: 24px;
		width: 250px;
		a{
			color: white;
			font-size: 14px;
			i{
				width: 25px;
			}
		}
	}
}





@media screen and (max-width: 767px) {
	.last-post-caption{
		p{
			display: none;
		}
	}
}

@media screen and (max-width: 991px) {
	header{
		.input-form{
			margin-top: 20px;
		}
		.container{
			padding: 0 15px !important;
		}
	}
	.brand{
		display: block;
		margin: 0 auto;
	}

	.shipping{
		text-align: center;
		margin: 20px 0;
	}

	.user-menu{
		float: none !important;
		width: 240px;
		margin: 20px auto;
	}

	.site-menu{
		min-width: 200px;
		max-width: 400px;
		margin: 20px auto;
	}

	.latest-post-list{
		padding: 0;
	}
	.post{
		img{
			padding: 0;
		}
		.details{ 
			h1{
				padding-right: 43px;
				margin-top: 10px;
			}
		}
	}
	.sidebar-part-title{
		text-align: center;
	}
	.sidebar-list{
		li{
			a{
				display: block;
				width: 100%;
				text-align: center;
			}
		}
	}
	.last-post-caption{
		width: 90%;
		h1{
			font-size: 2em;
			text-align: center;
		}
		a{
			display: block;
			margin: 0 auto;
		}
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
	footer.container-fluid .col-md-6{
		max-height: 300px;
		ul{
			li{
				display: inline-block;
			}
		}
	}
}